---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | brahim bejaoui" description="About brahim bejaoui">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="about"
				tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/BEJAOUI.jpg"
					alt="brahim bejaoui"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je m'appelle Brahim Bejaoui, et je suis titulaire d'un Bac+3 en Génie Logiciel. Passionné par la technologie et le développement web, je m'efforce de transformer des idées innovantes en solutions concrètes et efficaces.

Au cours de mes études et de mes stages, j'ai acquis une solide expérience dans le développement d'applications et la gestion de projets numériques, notamment en créant des solutions comme un site de suivi et de réalisation d'incidents.
Je suis motivé par les défis techniques et toujours curieux d'apprendre et de m'améliorer dans des domaines tels que le développement logiciel, les nouvelles technologies, et l'expérience utilisateur.

Je suis actuellement en recherche d'opportunités dans la sphère tech, où je pourrais contribuer avec mes compétences tout en continuant à développer mon expertise. Si vous cherchez une personne dynamique, impliquée et créative, n'hésitez pas à me contacter !.
					
					
					
					
					
					
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>genie logicielet systeme d'information</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Java,JavaScript,Html,Css,Springboot,Agular,NodeJs,React,typescript</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
